<%= render partial: "layouts/navbar/navbar" %>
<div class="container">
    <%= render partial: "layouts/form_for_new" %>
  <div class="row">
    <div class='col l8 offset-l2'>
      <div class="card-panel">
      hii
    </div>
    </div>
  </div>
</div>
