// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav ul {
  line-height: 55px;


}
#search {
  margin-bottom: 0;
}
nav .row {
  margin-bottom: 0;
  .col {
    padding-left: 0;
  }
}

.first-content-row {
  margin-top: 2em;
}
