// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

nav ul {
  line-height: 55px;


}
#search {
  margin-bottom: 0;
}
nav .row {
  margin-bottom: 0;
  .col {
    padding-left: 0;
  }
}

.first-content-row {
  margin-top: 2em;
}
.idea-content {
  padding: 2px;
  padding-left: 10px;
  padding-right: 10px;
  border: solid 1px;
  border-color: #C5E1A5;

}
a.rate-btn-up {
  color: #66BB6A;
}
a.rate-btn-down {
  color: #ff5722;
}

a.delete-idea-btn {
  color: #90CAF9;
}
a.idea-btn {
  cursor: pointer;cursor: hand;
}

#errors-row {

  padding-right: 10px;
  padding-left: 10px;
}

.body-content {
  word-wrap: break-word;
}
