<nav class="light-green valign-wrapper">
  <div class=container>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Idea Box</a>
      <div class="row">
        <div class="input-field col l8 offset-l2">
          <label for="search"><i class="material-icons search-bar">search</i></label>
          <input id="search" type="search" required>
          <i class="material-icons align-right">close</i>
        </div>
      </div>
    </div>
  </div>
</nav>
