<div class="row">
  <div class="col l8 offset-l2">
    <div class="card-panel">
      <%= form_for :idea do |f| %>
      <div class='row'>
        <div class='col l4'>
          <label for="idea_title">Title:</label>
          Some title here
        </div>
        <div class='col l1 right'>
          <i class="material-icons">thumb_up</i>
        </div>
        <div class='col l1 right'>
          <i class="material-icons">thumb_down</i>
        </div>
        <div class='col l1 right'>
          swill
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          some body here
          <label for="idea_body">Body:</label>
        </div>
      </div>
      <div class="row">
        

      </div>
      <% end %>
    </div>

  </div>
</div>
